python-docx
dotenv
langextract
python-multipart
fastapi[all]
python-magic
PyMuPDF
# Original dependencies
spacy
tldextract
setfit
anytree
langdetect
unidecode
requests_cache
doccano-client
inflect
exrex
seaborn
beautifulsoup4
werkzeug
